/* submenu items */
.szh-menu__submenu > .szh-menu__item {
  padding-left: 12px;
  padding-right: 1.5rem !important;
}

.szh-menu__submenu > .szh-menu__item::after {
  content: 'â¯';
  position: absolute;
  right: 0.5rem !important;
}

.szh-menu {
  user-select: auto !important;
}
