/* .my-overlay ul li {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.my-overlay ul li div {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
} */

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ant-dropdown-menu-title-content {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ant-dropdown-menu-submenu-title {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  vertical-align: center !important;
}

.ant-dropdown-menu-submenu-expand-icon {
  top: 3px !important;
}

/* submenu items */
.context-menu-submenu-item {
  padding-left: 36px !important;
}

.context-menu-submenu-item-no-padding {
  padding-left: 12px !important;
}

/* align radio buttons */
/* .szh-menu__item--type-radio::before {
  top: 0.475rem;
}
.szh-menu__item--type-radio.szh-menu__item--checked::before {
  left: 0.9rem;
} */