/*
 * @Copyright 2021-2022. Institute for Future Intelligence, Inc.
 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.split-pane {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  --percentWidth: 50%;
}

.split-pane .sash {
  background-image: linear-gradient(to right, white, rgb(167, 165, 165));
  width: 6px;
  user-select: none;
  cursor: col-resize;
  position: absolute;
  height: 100%;
  z-index: 10;
  left: var(--percentWidth);
  transform: translateX(-50%);
}

.split-pane .sash:active {
  background-image: none;
  background-color: rgb(57, 166, 255);
}

.split-pane .left-child {
  width: var(--percentWidth);
  position: relative;
}

.split-pane .right-child {
  width: calc(100% - var(--percentWidth));
  position: relative;
}

.ant-checkbox-wrapper {
  line-height: normal;
}

